<div id="nouce">
	 <ul> 
	  <li>满汉全席 版权所有</li>
		<li><%= link_to "使用帮助",'/'%></li> 
		<li><%= link_to '关于我们','/' %></li>  
		<li><%= link_to 'Bugs report','http://trac.daorails.com',:target => '_blank' %></li> 
		<li>沪ICP备07012353</li>
	</ul>
</div>